@media screen and (min-width: 2000px) {
    .carousel {
        min-height: 380px;
        min-width: 80%;
    }
  }

@media screen and (min-width: 600px) {
    .carousel {
      width: auto;
    }
  }